.hamburger > div {
  width: 30px;
  height: 2px;
  background: black;
  margin: 5px 0px;
}
.hamburger {
  display: none;
}
@media only screen and (max-width: 600px) {
  .hamburger {
    display: block;
    cursor: pointer;
  }
}
